footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  border-radius: 10px;
  background-color: lightgrey;
  cursor: pointer;
}

.footer-block_Enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
}

.footer-block_BackSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
}

.footer-block_BackSpace img {
  width: 30px;
}
